.container {

}

a {
    text-decoration: none;
}

#logo{
    height: 170px;
    width: 170px;
    margin: 0 0 0 0;
}


#ARCLogo {
    height: 70px;
    width: 160px;
    position: fixed;
    top: 45px;
    right: 10px;
}

.name{
    display: inline;
    position: fixed;
    top: 70px;
    left: 210px;
}

.nav-main div {
    display: inline;
    padding: 15px 10px 15px 10px;
    background-color: greenyellow;
    border-left: solid black 1px;
    font-size: 25px;
}

.languages {
    position: fixed;
    right: 10px;
    top: 10px;
    padding-bottom: 20px;
}

.header {
    padding: 10px 10px 10px 10px;
}

.nav-main {
    background-color: greenyellow;
}

.OurPartners{
    margin-right: 350px;
    border-right: solid black 1px;
}

.JoinUs {
    background-color: orange;
    border-left: none;
    border-right: solid black 1px;
}

.OurStory {
    border-left: none;
}