a {
    text-decoration: none;
    color: white;
}

#logo{
    height: 170px;
    width: 170px;
    margin: 0 0 0 0;
}


#ARCLogo {
    height: 70px;
    width: 160px;
    position: fixed;
    top: 55px;
    right: 20px;
}

.name{
    display: inline;
    position: fixed;
    top: 70px;
    left: 210px;
}

.nav-main div {
    display: inline;
    padding: 15px 10px 15px 10px;
    background-color: darkgreen;
    border-left: solid black 1px;
    font-size: 25px;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.languages {
    position: fixed;
    right: 20px;
    top: 20px;
    padding-bottom: 20px;
}

.header {
    padding: 10px 10px 10px 10px;
}

.nav-main {
    background-color: darkgreen;
}

.OurPartners{
    border-right: solid black 1px;
}

.JoinUs {
    background-color: mediumseagreen !important;
    border-left: none;
    border-right: solid black 1px;
    float: right;
}

.OurStory {
    border-left: none;
}