a {
    text-decoration: none;
    color: white;
}

body {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;;
}

.actualBody {
    margin: 0 50px 0 50px;
}

#logo{
    height: 170px;
    width: 200px;
    margin: 0 0 0 0 !important;
}

.languages {
    position: absolute;
    right: 30px;
    top: 30px;
    padding-bottom: 20px;
}

#ARCLogo {
    height: 70px;
    width: 160px;
    position: absolute;
    top: 65px;
    right: 30px;
}

.name{
    display: inline;
    position: absolute;
    top: 70px;
    left: 240px;
    font-family: 'Georgia', serif;
}

.header {
    padding: 10px 10px 10px 10px;
}

.OurStory {
    border-left: none;
}

.feasibility {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#PeanutButterProject {
    width: 230px;
    height: 230px;
}

#Unicef {
    width: 236px;
    height: 220px;
}

#HIF {
    width: 295px;
    height: 157px;
}

#LivingGoods {
    width: 250px;
    height: 195px;
}

#LEAP {
    width: 245px;
    height: 183px;
}

.partners {
    text-align: center;
}

.nav-main div {
    text-align: center;
    /*width: 100px;*/
    line-height: 21px;
    display: inline;
    padding: 12px 30px 12px 30px;
    background-color: darkgreen;
    border-left: solid black 1px;
    font-size: 25px;
    color: white;
    font-family: 'Georgia', serif;
}

.nav-main {
    /*padding: 0;*/
    list-style: none;
}

.nav-main div a{
    display: inline;
    padding: 5px 10px 5px 10px;
    color: white;
    text-decoration: none;
}

.nav-main div a:hover {
    color: white;
    background: #3e7733;
}

.nav-main div ul {
    /*list-style: none;*/
    display: none;
}

.nav-main div:hover ul {
    display: block;
}

.JoinUs {
    background-color: #d65341 !important;
    border-left: none;
    border-right: solid black 1px;
    /* float: right; */
}

.navigation {
    text-align: center;
}

